.articles_page {
  display: flex;
  flex-direction: column;
  min-height: 2000px;
  margin-bottom: 10px;
}

.art_head {
  position: relative;
  display: flex;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: var(--prim-clr);
  height: 110px;
  /* border-bottom: 2px solid var(--ter-clr); */
}

.art_head.sticky {
  position: sticky;
  top: 0;
  z-index: 4;
}

.art_head .art_index {
  text-transform: capitalize;
  white-space: nowrap;
  margin-left: 60px;
  width: 300px;
  color: var(--quad-clr);
}

.btn_upload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
  padding: 6px;
  margin-right: 50px;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.4s;
}

.btn_upload:hover {
  background: var(--ter-clr);
}
.btn_upload:hover img {
  filter: invert(74%) sepia(30%) saturate(743%) hue-rotate(214deg)
    brightness(100%) contrast(95%);
}
.btn_upload:hover span {
  opacity: 1;
}

.btn_upload img {
  width: 100%;
  filter: invert(10%) sepia(73%) saturate(3324%) hue-rotate(267deg)
    brightness(102%) contrast(126%);
}

.btn_upload span {
  padding: 4px;
  position: absolute;
  bottom: -26px;
  background: var(--quad-clr);
  color: var(--prim-clr);
  border-radius: 3px;
  z-index: 400;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s;
}

.search_field {
  display: flex;
  align-items: center;
  justify-self: center;
  /* margin-right: 35px; */
  height: 50px;
  width: 60%;

  /* max-width: 800px; */
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  background: var(--sec-clr);
}
.search_box {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--ter-clr);
  padding-right: 5px;
  border-right: 1px solid var(--quad-clr);
  font-size: var(--sec-font-size);
}

.btn_search {
  width: 55px;
  height: 100%;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn_search img {
  width: 60%;
  filter: invert(10%) sepia(73%) saturate(3324%) hue-rotate(267deg)
    brightness(102%) contrast(126%);
}

.search_box::placeholder {
  color: var(--quat-clr);
}

.articles_page .container {
  flex: 1px;
  display: flex;
}

.side_bar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-self: center;
  overflow: overlay;
  width: 250px;
  height: calc(100vh - 90px);
  background: var(--prim-clr);
  padding: 60px 0 30px 8px;

  /* transition: translate 0.5s; */
}

.side_bar.closed {
  translate: -100% 0;
  position: absolute;
}

.sb_btn {
  position: absolute;
  top: 50%;
  left: -16px;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 60px;
  height: 40px;
  padding-right: 5px;
  background: var(--quad-clr);
  border-radius: 150px;
  z-index: 3;
  cursor: pointer;
}

.sb_btn img {
  width: 40%;
  margin-right: 2px;
  filter: invert(74%) sepia(30%) saturate(743%) hue-rotate(214deg)
    brightness(100%) contrast(95%);
}

.sb_btn span {
  color: var(--prim-clr);
  font-size: 2rem;
  height: 100%;
}
.sb_btn span.close {
  rotate: 180deg;
}

.sb_head {
  font-size: var(--sec-font-size);
  text-align: center;
  background: var(--ter-clr);
  color: var(--prim-clr);
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.side_bar li {
  position: relative;
  list-style: none;
  color: var(--ter-clr);
  padding: 10px 0 10px 20px;
  border-bottom-left-radius: 10px;
  white-space: nowrap;
  border-bottom: 2px solid var(--sec-clr);
  font-size: var(--prim-font-size);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.15s;
}

.side_bar li:hover {
  background: var(--sec-clr);
  color: var(--ter-clr);
}

.side_bar li.active {
  background: var(--sec-clr);
  color: var(--ter-clr);
  transition: background 0.5s;
}

.side_bar li span {
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 0;
  border-radius: 100px;
  background: var(--sec-clr);
  opacity: 0;
  transition: width 0.3s;
}

.side_bar li.active span {
  opacity: 1;
  width: 100%;
}

.art_display {
  flex: 1;
  background: var(--sec-clr);
  padding: 15px;
  transition: translate 0.3s;
}

/* .art_display.extend {
  translate: -250px 0;
} */

.art_view {
  padding: 0;
  height: 100%;
}

/*.art_view .articles {
   border-radius: 5px; 
}
*/
/* .art_view .articles:hover::-webkit-scrollbar-thumb {
  visibility: visible;
} */

@media (max-width: 500px) {
  .search_field {
    justify-self: start;
    width: 80%;
  }
}

@media (max-width: 1200px) {
  /* .articles_page {
    grid-template-columns: 200px 1fr;
  } */

  .art_view .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .art_view .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .art_view .articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .shopping-cart {
    scale: 0.7;
    margin-right: 10px;
  }

  .menu {
    scale: 0.8;
  }
}

@media (min-width: 1500px) {
  .art_view .articles {
    grid-template-columns: repeat(5, 1fr);
  }
}
