@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: var(--prim-clr);
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  padding-top: 90px;

  /* overflow-y: auto;
  overflow-x: hidden; */
}

body::-webkit-scrollbar {
  width: 8px;
  visibility: hidden;
}

body::-webkit-scrollbar:hover {
  visibility: visible;
}

body::-webkit-scrollbar-thumb {
  width: 4px;
  height: 48px;
  background: var(--quad-clr);
}

.bar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  width: 100%;
  background: var(--ter-clr);
  padding: 0 50px 0 30px;
  color: var(--prim-clr);
  transition: translate 0.5s ease;
}

.bar.hidden {
  translate: 0 -90px;
}

.bar .nav_links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.bar .nav_item {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  font-weight: 600;
  font-size: var(--sec-font-size);
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.2s, scale 0.2s;
}
.bar .nav_item:not(:last-child) {
  margin-right: 60px;
}

.bar .nav_item:hover {
  background: var(--sec-clr);
  color: var(--ter-clr);
}

.bar .nav_item.active {
  background: var(--prim-clr);
  color: var(--ter-clr);
  scale: 1.15;
  transition: scale 0.5s;
}

.bar .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 32px;
  display: none;
}

.bar .menu span {
  height: 7px;
  width: 100%;
  background: var(--prim-clr);
  border-radius: 15px;
}

.shopping-cart {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 100px;
  cursor: pointer;
  border: 3px solid var(--prim-clr);
  transition: background 0.3s;
}

.shopping-cart:hover {
  background: var(--prim-clr);
}

.shopping-cart:hover img {
  filter: invert(10%) sepia(73%) saturate(3324%) hue-rotate(267deg)
    brightness(102%) contrast(126%);
}

.shopping-cart img {
  width: 100%;
  filter: invert(74%) sepia(30%) saturate(743%) hue-rotate(214deg)
    brightness(100%) contrast(95%);
}
.shopping-cart span {
  position: absolute;
  bottom: -15px;
  right: -18px;
  padding: 2px 6px;
  border: 5px solid var(--ter-clr);
  border-radius: 100px;
  background: var(--prim-clr);
  color: var(--ter-clr);
  pointer-events: none;
  font-size: var(--prim-font-size);
  font-weight: 700;
}

.shop_label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.bar .shop_label {
  height: 80%;
}
/* .darker .shop_label {
} */

.shop_label img {
  width: 50px;
  margin-right: 20px;
}

.shop_label div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop_label div span {
  text-align: center;
}

.shop_name {
  font-weight: 700;
  font-size: 1.5rem;
}

.sub_label {
  font-size: 0.7rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 90px);
  margin-bottom: 80px;
  border-bottom: 2px solid var(--sec-clr);
}
header img {
  width: 40%;
}

.head_side {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 60%;
  height: 50%;

  color: var(--quad-clr);
  text-align: center;
  font-size: 0.98vw;
}

.head_side h1 {
  text-transform: uppercase;
  font-size: 5em;
  font-weight: 300;
  margin-bottom: 25px;
}

.head_side p {
  font-size: 2.1em;
}

.btn_order {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 4em;
  background: transparent;
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid var(--quad-clr);
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s;
}

.btn_order:hover {
  background: var(--ter-clr);
  color: var(--sec-clr);
}

.home_page section {
  margin-bottom: 100px;
  /* border-bottom: 2px solid var(--sec-clr); */
}

.services {
  padding: 70px 50px 100px 50px;
}

.services h1,
.advantages h1 {
  width: fit-content;
  margin: 0 auto 50px auto;
  padding: 25px;
  border: 2px solid var(--ter-clr);
  border-radius: 5px;
  font-size: var(--qua-font-size);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* .services .articles_preview {
} */

.art {
  padding: 25px;
}

.art_prev {
  border-radius: 10px;
  margin-bottom: 50px;
}

.art h2 {
  text-align: center;
  margin-bottom: 25px;
}

.art_prev .see_more {
  display: block;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  cursor: pointer;
  margin: 20px 0 0 15px;
  transition: font-weight 0.3s;
}
.show_all {
  display: block;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px 10px;
  background: var(--sec-clr);
  border-radius: 100px;
  transition: font-weight 0.3s;
}

.art_prev .see_more:hover,
.show_all:hover {
  font-weight: 550;
}

.art_prev .articles {
  display: flex;
  gap: 10px;
}

.art_prev .card {
  flex: 1;
}

.art_view .articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

@media (max-width: 1000px) {
  .bar .menu {
    display: flex;
  }

  .bar {
    padding-right: 20px;
  }

  .bar .nav_links {
    width: 100%;
    height: 200px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 90px;
    background: var(--ter-clr);
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    display: none;
  }

  .bar .nav_links.open {
    display: flex;
  }

  .bar .nav_item {
    border-radius: 5px;
    width: 100%;
  }

  .bar .nav_item:not(:last-child) {
    margin: 0;
  }

  .bar .nav_item.active {
    scale: 1;
  }

  .menu_space.active {
    height: 200px;
  }
}

.art .card {
  background: var(--prim-clr);
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
}

.product_img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.art_prev .card .btn_add {
  padding: 5px 10px;
}

.art_prev .card {
  /* background: var(--sec-clr); */
  border: 1px solid var(--quad-clr);
}

.btn_add {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 5px 0;
  background: var(--sec-clr);
  color: var(--quad-clr);
  border: none;
  border-radius: 5px;
  font-size: var(--prim-font-size);
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
}
.btn_add.added {
  background: var(--ter-clr);
  color: var(--prim-clr);
}

.btn_add:hover {
  background: var(--ter-clr);
  color: var(--prim-clr);
}

.product_infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 10px;
}

.product_name {
  padding: 8px 0;
}

.btn_like {
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.btn_like img {
  width: 100%;
  filter: invert(10%) sepia(73%) saturate(3324%) hue-rotate(267deg)
    brightness(102%) contrast(126%);
}
/* .services li {
  list-style: none;
  background: var(--sec-clr);
  font-size: var(--ter-font-size);
  font-weight: 600;
  cursor: pointer;
} */

/* .advantages {
} */

footer {
  min-height: 90rem;
  background: var(--ter-clr);
}
